<a href="https://colab.research.google.com/github/PratyushMaharana/interface-PYthon-with-MY-SQL-/blob/main/pythonsql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 59.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

In [3]:
# STEP 1: Install MySQL server
!apt-get -y install mysql-server > /dev/null

# STEP 2: Start MySQL service
!service mysql start

# STEP 3: Set root password to 'root' and allow native password auth
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'; FLUSH PRIVILEGES;"

# STEP 4: Create a new database (example: mydb)
!mysql -u root -proot -e "CREATE DATABASE mydb;"

# STEP 5: Show all databases to confirm
!mysql -u root -proot -e "SHOW DATABASES;"

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mydb               |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

In [4]:
import mysql.connector as sql

In [11]:
con = sql.connect(
    host="localhost",
    user="root",
    password="root"
)

cursor = con.cursor()
cursor.execute("CREATE DATABASE APPLE1")
con.commit()
print("connected")

connected

In [21]:
import mysql.connector as sql
con=sql.connect(host="localhost",user="root",password="root",database="APPLE1")
cursor=con.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS students(
  ID INT AUTO_INCREMENT PRIMARY KEY,
  NAME VARCHAR(50),
  AGE INT,
  GRADE VARCHAR(60)
)
''')
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Pratyush', 17, 'A')")
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Piyush', 25, 'A')")
con.commit()

In [23]:
cursor.execute("SELECT*FROM students")
rows=cursor.fetchone()
for row in rows:
  print(row)

1
Pratyush
17
A